html{
    background-color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h1{
    color: #555;
}

button{
    font-size: large;
    display: flex;
    margin: 1rem;
    place-content: center;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    border-color: black;
}

button:hover{
    background-color: #555;
    cursor: pointer;
}

input{
    margin: 1rem;
    height: 1.5rem;
    width: 20rem;
    text-align: center;
}

#input{
    display: flex;
    margin-left: 20%;
}

#sendButton{
    width: 4rem;
    height: 1.5rem;
    font-size: medium;
    margin-top: 1.25rem;
    background-color:seagreen;
}

#sendButton:hover{
    background-color: limegreen;
}

#cleanButton{
    width: 4rem;
    height: 1.5rem;
    font-size: medium;
    margin-top: 1.25rem;
    background-color: crimson;
}

#cleanButton:hover{
    background-color: red;
}

#divString{
    display: flex;
    margin-left: 25%;
}

#cleanEntryButton{
    width: 5rem;
    height: 3rem;
    font-size: medium;
    margin-top: 1.25rem;
    background-color: crimson;
    text-align: center;
    display: none;
    margin-left: 50%;
    transform: translate(-50%);
}

#cleanEntryButton:hover{
    background-color: red;
}

#buttons{
    display: flex;  
    place-content: center;  
}

#output{
    margin-left: 50%;
    transform: translate(-50%);
}

#error{
    margin-left: 25%;
    color: crimson;
    font-size: medium;
    font-weight: bold;
}

#string{
    margin-left: 1rem;
}

